#city-lightbox {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s;
  top: 0;
  display: none;
  left: 0;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: 999;
}
.city-inner {
  height: 470px;
  background-color: #fff;
  width: 100%;
  overflow: scroll;
  padding: 20px 0;
  /* border: 1px solid red; */
}
.citysection {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}
.title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 40px;
  /* border: 1px solid red; */
}
.input {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 120px;
  justify-content: center;
  /* border: 1px solid #35495e; */
}
.inputcountry {
  height: 50px;
  margin-right: 50px;
  border: 1px solid #35495e;
  border-radius: 4px;
  width: 300px;
  /* max-width: 300px; */
  display: flex;
}
.inputbox {
  font-size: 20px;
  padding: 5px;
}
.inputbox > select {
  background-color: white;
  border: none;
  width: 230px;

  padding: 10px;
  padding-right: -10px;
  font-size: 20px;
}
.location {
  text-align: center;
  padding-top: 10px;
  margin-left: 8px;
}
.location > i {
  font-size: 30px;
}
.comform {
  /* border:1px solid red; */
  display: flex;
  justify-content: center;
}
.comform > button {
  width: 270px;
  height: 50px;
  background-color: #10a310;
  color: white;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
}

#sidemenuouter {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s;
  top: 0;
  display: none;
  left: 0;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: 999;
}
.sidemenu {
  height: 100%;
  width: 35%;
  position: fixed;
  background-color: #fff;
  overflow: auto;
  /* padding:20px; */
}
.blank {
  height: 70px;
  background-color: black;
}
.menuelements {
  padding: 20px;
}
.profileclick {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 40px;
}
.menudetails {
  display: flex;
  font-size: 20px;
  cursor: pointer;
}
.menudetails > div {
  margin-bottom: 30px;
}
#sidedetails {
  flex: 1;
  margin-right: 0px;
}
#sidelogo {
  margin-right: 10px;
}
#amount {
  color: goldenrod;
}

header {
  background-color: black;
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
}
#pointer {
  cursor: pointer;
  margin-right: 20px;
}
#pointer > i {
  font-size: 25px;
}

#logo {
  margin: 0 0 0 16px;
  flex: 1;
}

#logo > a {
  background-image: url("https://www.zoomcar.com/build/98e56e8b0b91e8806885a22ac2bf69a7.png");
  background-repeat: no-repeat;
  font-size: 0;
  height: 40px;
  width: 182px;
  display: block;
}
nav {
  flex: 1;
  display: unset;
}
nav ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}
nav ul li {
  display: flex;
  align-items: center;
}
li > a {
  color: white;
}
